@import "tailwindcss";

.Done{
    background-color: rgb(169, 236, 169);
}

.Doing{
    background-color: rgb(252, 217, 102);
}

.ToDo{
    background-color: rgb(211, 211, 248);
}


#task_selected{
    position: absolute;
    color: white;
    background-color: var(--color-blue-400);
    display: flex;
    align-self: center;
    left: 27vw; /* 27 de cada lado para centralizar*/
    width: 46vw;
    height: fit-content;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    border: 2px solid black;
    padding: 5px 5px 20px 5px;
}

.cem{
    height: 100%;
    width: 100%;
}

.cemview{
    height: 100vh;
    width: 100vw;
}


.vermelho{
    background-color: #f1a9a9;
}
.amarelo{
    background-color: #f5f5026e;
}
.rosa{
    background-color: #ffc0cb;
}
.azul{
    background-color: #a1a1ff;
}

.verde{
    background-color: #9fc26a;
}
.roxo{
    background-color: #955cf1;
}
.laranja{
    background-color: #ffd17c;
}
.cinza{
    background-color: #bdbdbd;
}

.preto{
    background-color: #323232;
}