@import "tailwindcss";

body{
    background-color: rgb(240, 240, 240);
}

.Done{
    background-color: rgb(169, 236, 169);
}

.Doing{
    background-color: rgb(252, 217, 102);
}

.ToDo{
    background-color: rgb(211, 211, 248);
}


#task_selected{
    position: absolute;
    color: white;
    background-color: var(--color-blue-400);
    display: flex;
    align-self: center;
    left: 27vw; /* 27 de cada lado para centralizar*/
    width: 46vw;
    height: fit-content;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    border: 2px solid black;
    padding: 5px 5px 20px 5px;
}

.vermelho {
    background-color: #f26d6d;
    color: white;
}

.amarelo {
    background-color: #f0c93d;
    color: #333;
}

.rosa {
    background-color: #f48fb1;
    color: white;
}

.azul {
    background-color: #5c9ded;
    color: white;
}

.verde {
    background-color: #81c784;
    color: white;
}

.roxo {
    background-color: #9575cd;
    color: white;
}

.laranja {
    background-color: #ffb74d;
    color: #333;
}

.cinza {
    background-color: #b0b0b0;
    color: black;
}

.preto {
    background-color: #2c2c2c;
    color: white;
}

#ToDo h1,
#Doing h1,
#Done h1{
    font-weight: 600;
    font-size: larger;
    padding: 10px 5px 0px 5px;
}